@import "tailwindcss";

@theme {
  --color-write: #ffffff;
  --color-black: #000000;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2a37;
  --color-gray-900: #111928;

  --color-pink-50: #ffedf7;
  --color-pink-100: #f9cce6;
  --color-pink-200: #f399cd;
  --color-pink-300: #ec66b5;
  --color-pink-400: #e6339c;
  --color-pink-500: #e00083;
  --color-pink-600: #b30069;
  --color-pink-700: #86004f;
  --color-pink-800: #5a0034;
  --color-pink-900: #2d001a;

  --color-bg: #ffffff;
  --color-border: var(--color-gray-300);

  --font-sans: Roboto, sans-serif;
  --font-heading: Roboto, sans-serif;

  --radius-default: 8px;

  --shadow-card: 0px 6px 12px 3px rgba(0, 0, 0, 0.25);
  --shadow-hover: 0px 2px 4px 0px rgba(0, 0, 0, 0.32);
}

body {
  @apply min-h-screen font-sans text-gray-900 text-[14px] md:text-[16px] xl:text-[18px] leading-[150%] bg-bg m-0 box-border antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply text-[28px] sm:text-[32px] md:text-[36px] lg:text-[40px] xl:text-[44px] font-semibold;
}

h2 {
  @apply text-[20px] md:text-[24px] lg:text-[28px] xl:text-[32px] font-semibold lg:font-medium;
}

h3 {
  @apply text-[16px] lg:text-[18px] xl:text-[20px] leading-[120%] font-medium;
}

p {
  @apply m-0;
}

.container {
  @apply max-w-[1440px] px-4 sm:px-5 lg:px-6 xl:px-10 2xl:px-20 my-0 mx-auto;
}

.scroll::-webkit-scrollbar {
  @apply w-2.5;
}

.scroll::-webkit-scrollbar-track {
  @apply rounded-[5px];
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

.scroll::-webkit-scrollbar-thumb {
  @apply border-transparent border-2 border-solid rounded-[5px];
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.12) transparent;
}
